:root {
    --primary-color: #214D8F;
    --secondary-color: #FFE1A5;
    --red-color: #FF5959;
    --back-color: #F4F4F4;
}

html {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

p {
    margin: 0
}

button {
    padding: 0;
    border: 0;
    border-radius: 2rem;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: unset;
    border: 0;
}

header {
    margin: 2rem 0;
    justify-content: center;
}

.add-new-table {
    color: white;
    font-size: 1rem;
    background-color: var(--primary-color);
    width: 14rem;
    height: 2.5rem;
}

main {
    align-items: start;
    justify-content: start;
    overflow: auto;
}

.table-item {
    min-width: 18.36rem;
    width: 18.36rem;
    background-color: var(--back-color);
    border-radius: 1.2rem;
    margin-left: 2.69rem;

}

.table-item-head {
    justify-content: end;
    margin: 0.2rem 0.3rem;
}

.close-button, .edit-button, .delete-button {
    background-color: transparent;
}

.edit-button {
    margin-bottom: 0.5rem;
}

.table-item img {
    height: 1.28rem;
}

.table-item-content {
    justify-content: start;
    align-items: center;
}

.task-item {
    align-items: center;
    width: 16rem;
    height: 8.64rem;
    margin-bottom: 1rem;
    background-color: var(--secondary-color);
    border-radius: 1rem;
    justify-content: space-around;
}

.task-text {
    border-radius: 1rem;
    width: 12.57rem;
    height: 7.64rem;
}

.table-item-bottom {
    align-self: center;
    margin-bottom: 1rem;
}

.add-new-task {
    background-color: var(--primary-color);
    font-size: 1rem;
    color: white;
    width: 4.57rem;
    height: 2.5rem;
}

